<h1>わすれんぞう LINE bot</h1>
<p>たまにわすれてしまうんじゃ</p>
<%= image_tag 'walking3_oldman.png' %>
<p>下のボタンかQRコードから追加しての</p>
<div>
  <a href="https://lin.ee/oR1Urx1">
  <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
  </a>
</div>
<%= image_tag 'M_gainfriends_qr.png' %>
<p>使い方は簡単じゃ</p>
<p>「わすれんぞう覚えて」で言葉を覚えるぞい</p>
<p>「わすれんぞう思い出して」で言葉の意味を思い出すぞい</p>
<p>「わすれんぞう忘れて」で言葉を忘れるぞい</p>
<p>「わすれんぞう話しかけて」で覚えた言葉のなかからランダムにひとつ出題するぞい</p>
<p>わすれんぞうが今覚えている言葉の数は「<%= @topics.count %>」じゃ</p>
<p>どんどん話しかけての</p>